body {
  background-color: #33CCFF;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

section {
  background-color: #66FF99;
}

#inputbar {
  text-align: center;
  width: 450px;
  height: 30px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-left: auto;
  margin-right: auto;
}

#div {
  width: 400px;
  height: 300px;
  position: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
#list {
  list-style: none;
}

.High {
  color: red;
}
.Medium {
  color:orange;
}
.Low {
  color:yellow;
}
