body {
  background-color: #33CCFF;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

section {
  background-color: #FFFF99;
}

#inputbar {
  text-align: center;
  width: 150px;
}
