body {
  background-color: #33CCFF;
}

.high {
  background-color: red;
  color: white;
}

.medium {
  background-color: orange;
  color: white;
}

.low {
  background-color: #00FFFF;
  color: black;
}

.done {
  background-color: black;
  color: white;
}
